RewriteEngine On

RewriteRule ^.*\.svn.*$ /404

RewriteRule   ^$ index.html [QSA]
RewriteCond   %{REQUEST_FILENAME} !-f
RewriteCond   %{REQUEST_FILENAME} !-d
RewriteCond   %{REQUEST_FILENAME} !favicon.ico
RewriteCond   %{REQUEST_FILENAME} !robots.txt
RewriteRule   ^(.*)$ /rackup.php [QSA,L]
